aiogram>=3.10.0
aiohttp>=3.9.5
aiohttp-socks>=0.8.4
beautifulsoup4>=4.12.3
SQLAlchemy[asyncio]>=2.0.31
asyncpg>=0.29.0
aiosqlite>=0.20.0
python-dotenv>=1.0.1
brotli>=1.1.0
fastapi>=0.110.0
uvicorn>=0.28.0
psutil>=5.9.8
